.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
<<<<<<< HEAD

  padding: 30px;
  margin:  auto;
  background: #064268;
}

mat-icon{
  margin:  -2px;
  font-size: 30px;
  color: white;
}
span{
  color: white;
  margin:  10px;
=======
  background: #f6f6f6;
  padding: 40px;
  margin:  auto;
}
mat-toolbar h1 {
  font-size: 40px;
  text-align: center;

  margin: 10px auto;

>>>>>>> 365acc673db325b234e23e52daf0fa5e40539d58
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-drawer-container {
  height: 100%;

  mat-drawer {
    display: flex;
    flex-direction: column;
    border-radius: 0;
<<<<<<< HEAD
    background-color: #064268;
=======
    background-color: black;
>>>>>>> 365acc673db325b234e23e52daf0fa5e40539d58

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;

      a {
        color: white;

        span {
          padding: 10px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 40px;
        }

      }

      a:hover {
        background-color: lightgray;
        color: green;
      }

    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}
mat-drawer-container {
  height: 100%;
<<<<<<< HEAD
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
=======


>>>>>>> 365acc673db325b234e23e52daf0fa5e40539d58
}

