.container {
  display: flex;
  flex-direction: column;
}

.pesquisa {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
  margin: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
h2{
  text-align: center;
<<<<<<< HEAD
  font-size: 40px;
}
button {
  margin-top: 10px;
  box-shadow: #bfbaba 1px 1px 1px 1px;
=======
  margin:  30px;
>>>>>>> 365acc673db325b234e23e52daf0fa5e40539d58

}
